@tailwind base;
@tailwind components;
@tailwind utilities;



.line{
background: url(../public/images/Vector\ \(3\).png);
background-repeat: no-repeat;
background-repeat: no-repeat;
width: 100%;
height: 60vh;
}

.hector{
    background: url(../public/images/Vector\ \(4\).png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    padding-left: 90%;
    width: 100%;
    height: 60vh; 
}


